md-toolbar.md-hue-2.navbar-fixed
    .md-toolbar-tools(show-xs hide-gt-xs layout-xs="row")
        md-button.md-icon-button(aria-label="Settings" ng-click="vm.toggleSidenav()"): md-icon menu
        div(layout-xs="column" layout-align-xs="end center")
            h6 Chat Wars Market <br> Список операций на рынке
    .md-toolbar-tools(hide-xs show-gt-xs)
        a.brand-logo: span Chat Wars Market
        md-button.md-icon-button(aria-label="Settings" ng-click="vm.toggleSidenav()"): md-icon menu
        h2 Список операций на рынке