md-content(layout="row" layout-align="space-around center")
    a(href="https://t.me/RedwingBot" target="blank") @RedwingBot
    p ChatWars &copy; 2017&nbsp;
        a(href="https://t.me/ChatWarsBot" target="blank") @ChatWarsBot
    p Created by&nbsp;
        a(href="https://t.me/shaurgon" target="blank") shaurgon